body {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

header {
    background-color: black;
    justify-content: space-between;
    display: flex;
    margin: 0;
    padding-right: 12%;
    padding-left: 10%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.sito {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  margin-top: auto;
  margin-bottom: auto;
}

nav ul {
    display: flex;
    margin: 25px auto 25px auto;
}    

nav li {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  padding-left: 30px;
  text-align: center;
}

main {
    margin: 0;
}

.intestazione-blu,.intestazione-verde, .intestazione-giallo,.intestazione-rosso, .intestazione-scuro, .info, .illustratori-blu, .illustratori-verde, .illustrazioni-scuro, footer {
    padding-left: 10%;
    padding-right: 10%;
}

.intestazione-blu {
    background-color:rgba(65, 85, 117, 1) ;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 25px;
    color: white;
}

.intestazione-verde {
    background-color:rgba(65, 117, 67, 1);
    margin: 0;
    padding-top: 30px;
    padding-bottom: 25px;
    color: white;
}

.intestazione-giallo {
    background-color:rgba(201, 153, 59, 1);
    margin: 0;
    padding-top: 30px;
    padding-bottom: 25px;
    color: white;
}

.intestazione-rosso {
    background-color:rgba(201, 59, 59, 1);
    margin: 0;
    padding-top: 35px;
    padding-bottom: 30px;
    color: white; 
    height: 120px; 
}

.intestazione-scuro {
    background-color:rgba(26, 58, 28, 1);
    margin: 0;
    padding-top: 30px;
    padding-bottom: 25px;
    color: white;
    display: flex;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 64px;
    margin-bottom: 0;
}

h2 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    margin-top: 0;
    padding-bottom: 30px;
}

.intestazione-scuro h1 {
    margin: auto auto auto 0;
}

.intestazione-scuro img {
    border-radius: 50%;
}

.titoletto {
    max-width: 70%;
}

.intestazione-blu span {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    display: block;
    margin: 0;
}

h3 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin-bottom: 0;
} 

.line-blu {
    background-color: rgba(65, 85, 117, 1);
    height: 2px;
    margin-top: 3px;
    margin-bottom: 4px;
}

.line-verde {
    background-color:rgba(65, 117, 67, 1);
    height: 2px;
    margin-top: 3px;
    margin-bottom: 4px;
    
}

.line-giallo {
    background-color:rgba(201, 153, 59, 1);
    height: 2px;
    margin-top: 3px;
    margin-bottom: 4px;
}

.line-rosso {
    background-color:rgba(201, 59, 59, 1);
    height: 2px;
    margin-top: 3px;
    margin-bottom: 4px;
}

.line-scuro {
    background-color:rgba(26, 58, 28, 1);
    height: 2px;
    margin-top: 3px;
    margin-bottom: 4px;
}

.line-bianco {
    background-color: white;
    height: 2px;
}

.blu {
    color: rgba(26, 50, 89, 1);
}

.verde {
    color: rgba(26, 58, 28, 1);
}

.giallo {
    color: rgba(181, 120, 0, 1);
}

.rosso {
    color: rgba(125, 0, 0, 1);
}

.scuro {
    color: rgba(26, 58, 28, 1);
}

.info span {
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    padding-left: 40%;
    line-height: 35px;
    padding-top: 20px;
    display: block;
    padding-bottom: 30px;
}

.laboratorio {
    display: flex;
    gap: 20%;    
    padding-top: 20px;
}

.bambini, .bio {
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 35px;
}

.bio {
    padding-left: 40%;
}

.lab {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

.illustratori-blu {
    background-color: rgba(65, 85, 117, 1);
    padding-bottom: 10px;
}

.illustratori-verde {
    background-color: rgba(65, 117, 67, 1);
    padding-bottom: 10px;
}

.illustrazioni-scuro {
    background-color: rgba(26, 58, 28, 1);
    padding-bottom: 10px;
}

h4 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin-bottom: 0;
    color: white;
    padding-top: 20px;
}

.grid {
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    display: flex;
}

.grid img {
    height: 400px;
    width: 400px;
    object-fit: cover;   
}

h5 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: white;
    margin: auto;
    background-color: rgba(26, 50, 89, 1);
    padding: 15px;
    text-align: center;
    width: 300px;
}

h6 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: white;
    margin: auto;
    background-color: rgba(26, 58, 28, 1);
    padding: 15px;
    text-align: center; 
    width: 300px;
}

.indicazioni p {
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
}

.grid-illustrazioni {
    column-count: 2;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.grid-illustrazioni img {
    margin-bottom: 20px;
    transition:.2s;
} 

.grid-illustrazioni img:hover {
    transform: scale(1.1);    
}

footer {
    background-color: black;
    color: white;
    margin: 0;
}

footer section {
    display: flex;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

footer span {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 38px;
    display: block;
}

footer li {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: right;
}

footer section div {
    margin-top:30px;
}

.accademia {
    margin: auto auto auto 0;
}

footer p {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 10px;
}

@media (max-width:700px) {
    .sito {
        text-align: center;
        font-size: 15px;
    }
    nav li {
        padding-left: 20px;
        font-size: 12px;
    }    
    h1 {
        font-size: 40px;    
        font-weight: 800;
    }
    h2 {
        font-size: 20px;
    }
    .intestazione-blu span  {
        font-size: 18px;
    }
    .intestazione {
        padding-top: 15px;
    }
    .info p, .info span {
        padding-left: 0;
        font-size: 15px;
    }
    .laboratorio {
        display: block;
    }
    h3, h4 {
        font-size: 24px;
    }
    .grid {
        display: inline;
        padding-bottom: 20px;
    }
    .grid img {
        padding-top: 25px;
        max-width: auto;
    }
    h5, h6 {
        width: auto;
    }
    footer section{
        grid-template-columns: 2fr 1fr;
    }
    footer span {
        font-size: 28px;
        display: inline;
    }
    footer li {
        font-size: 15px;
        font-weight: 200;
    }
    footer p {
        font-size: 15px; ;
    }
}